// Anything about colors & color classes here ..



$color_text :#333641;

$color_bg : #CBE5D8;

$color_orange : #F58207;

$color_paleOrange : #EFC39D;
$color_green : #7acfb5;
$color_yellow : #eada86;